#minicontact {
    width:400px;
    height:500px;
    float:left;
    border:1px solid #ebebeb;
    background:url('https://cdn.pixabay.com/photo/2016/10/27/22/53/heart-1776746_1280.jpg');
    background-size:cover;
    background-position:center;
  }