@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); 

.btn {
    background-color: #ffffff;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    float: left;
}

.location {
    max-width: auto;
    max-height: auto;

}

.btn:hover {
    background-color: #ffffff;
}

.box-it-up{
    display: inline-flex;
    padding: 10px;
    float: right;
    outline: auto;
}

.box-it-up > *{
    margin: 0 5px;
}

html, body{
    margin: 0px;
    padding: 0px;
    font-family:'Times New Roman', Times, serif;
    height: 100%;
}

.contact {
    height: 18px;
    padding: 10px;
    margin: 1px 5px;
    background-color: transparent;
    text-decoration: none;
    float:right;
    color:#ffffff;
}

.shop-btn {
    top: 80px;
    right: 40px;
    position: absolute;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a,#42455a), radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.shop-btn span {
    display: block;
    padding: 10px 30px;
}
.logout {
    height: 18px;
    padding: 10px;
    margin: 1px 5px;
    background-color: transparent;
    text-decoration: none;
    float:right;
    color:#ffffff;
}

.store {
    height: 18px;
    padding: 10px;
    margin: 1px 5px;
    background-color: transparent;
    text-decoration: none;
    float:left;
    color:#ffffff;

}

.shop {
    float: right;
    position: absolute;
    width: 135px;
    border-radius: 9%;
    right: 1px;
    width: 100px;
}


.poke {
    
    background-size: cover;
}


.logo img {
    width: 120px;
    margin:15px;
    margin-top: -7px;
    margin-right: 48px;
}

.aboutus {
    width:100%;
}

.aboutus img {
    width: 100%;
}


.poketext h1 {
    font-size: 43px;
    width: 640px;
    max-width: 100%;
}


.pokemon {
    width: 100%;
    position: relative;
}
.poketext {
    position: absolute;
    top: 500px;
    padding: 10px;
}

.pokemon img {
    width: 100%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: space-around;
}

.flex-container img {
    width: 320px;
    clear: both;
    display: inline;

}

.shop-btn1 {
    position: absolute;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid transparent;
    border-radius: 22px;
    background-image: linear-gradient(#42455a,#42455a), radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.shop-btn1 span {
    display: block;
    padding: 10px 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display:flex;
    flex-wrap: wrap;
}
ul {
    list-style: none;
}
.footer {
    background: #303036;
    color: #d3d3d3;
    padding: 70px 0;
    font-family: 'Poppins', sans-serif;;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
 }
 .footer-col h4{
     font-size: 18px;
     color: #ffffff;
     text-transform: capitalize;
     margin-bottom: 35px;
     font-weight: 500;
     position: relative;
 }

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}